.product-price {
    text-align: start;

    .regular {
      padding-top: 10px;
      font-size: 14px;
      color: #ef4a23;
      line-height: 19px;
      font-weight: 500;
      margin-right: 3px;
    }

    .sale {
      margin-left: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #666666;
      text-decoration: line-through;
    }
  }

.product-form {
    display: flex;
    gap: 20px;

    .form-left {
        flex: 2;
    }
    .form-right {
        flex: 1.5;
        margin-top: 37px;
        border-top: 3px solid #333;
    }
}